;; Analyzed by ClojureScript 0.0-3211
{:use-macros nil, :excludes #{}, :name client.styles-dyn, :imports nil, :requires {garden.core garden.core}, :uses {css garden.core}, :defs {title-animation {:protocol-inline nil, :meta {:arglists (quote ([mouse-pos-vec])), :end-column 22, :end-line 4, :column 7, :line 4, :file "C:\\Users\\Shannon\\Desktop\\Research\\Projects\\NoCostMobileApp\\Development\\BrewersClj\\src\\client\\styles_dyn.cljs"}, :name client.styles-dyn/title-animation, :variadic false, :file "src\\client\\styles_dyn.cljs", :end-column 22, :method-params ([mouse-pos-vec]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([mouse-pos-vec])), :test true}}, :require-macros nil, :cljs.analyzer/constants {:order [:.title-app-name :float :padding-left :text-shadow], :seen #{:float :padding-left :text-shadow :.title-app-name}}, :doc nil}