;; Analyzed by ClojureScript 0.0-3211
{:use-macros nil, :excludes #{}, :name client.styles, :imports nil, :requires nil, :uses nil, :defs {static-styles {:meta {:end-column 19, :end-line 3, :column 6, :line 3, :file "C:\\Users\\Shannon\\Desktop\\Research\\Projects\\NoCostMobileApp\\Development\\BrewersClj\\src\\client\\styles.cljs"}, :file "src\\client\\styles.cljs", :line 3, :column 1, :end-line 3, :end-column 19, :test true, :name client.styles/static-styles}}, :require-macros nil, :cljs.analyzer/constants {:order [:output-to :.current-header-label :float :.title-header-label :.header-table :width :tex-align :text-align :marign-right :padding-right :padding-left :#app :background-color], :seen #{:text-align :float :marign-right :background-color :width :padding-right :output-to :#app :padding-left :tex-align :.title-header-label :.current-header-label :.header-table}}, :doc nil}