;; Analyzed by ClojureScript 0.0-3291
{:use-macros nil, :excludes #{}, :name client.styles-dyn, :imports nil, :requires {garden.core garden.core}, :uses {css garden.core}, :defs {title-animation {:protocol-inline nil, :meta {:file "C:\\Users\\Shannon\\Desktop\\Research\\Projects\\NoCostMobileApp\\Development\\BrewersClj\\src\\client\\styles_dyn.cljs", :line 4, :column 7, :end-line 4, :end-column 22, :arglists (quote ([mouse-pos-vec]))}, :name client.styles-dyn/title-animation, :variadic false, :file "src\\client\\styles_dyn.cljs", :end-column 22, :method-params ([mouse-pos-vec]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([mouse-pos-vec]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:float :padding-left :text-shadow :.title-app-name}, :order [:.title-app-name :float :padding-left :text-shadow]}, :doc nil}